%h3 New Transcription
= form_for @transcription do |f|
  = f.label :song_title
  = f.text_field :song_title
  %br
  = f.label :soloist_first_name
  = f.text_field :soloist_first_name
  %br
  = f.label :soloist_last_name
  = f.text_field :soloist_last_name
  %br
  = f.label :pdf
  = f.file_field :pdf
  %br
  = f.label :mp3
  = f.file_field :mp3
  %br
  = f.submit
