%h3
  = "#{@transcription.soloist_first_name} #{@transcription.soloist_last_name}"
  on
  %em= @transcription.song_title

= link_to 'View Full Screen',
  pdfjs.full_path(file: image_path(@transcription.pdf)),
  target: '_blank'

%br

= link_to 'Edit', edit_transcription_path(@transcription)

%br

= link_to 'Delete',
  @transcription,
  method: :delete,
  data: { confirm: 'If you must...' }

%br

= audio_tag @transcription.mp3,
  autoplay: true,
  controls: true,
  preload: 'auto'

%br

%iframe{ src: pdfjs.minimal_path(file: image_path(@transcription.pdf)),
  height: '700px',
  width: '900px' }
